body{
   background-color: aliceblue;
   
}
.navigation{
    background-color: white;
    position:fixed;
    top: 0px;
    left: 0px;
    height: 4.5em;
    width: 100em;
    box-shadow: 2px 2px 2px 2px rgba(6, 0, 0, 0.16);
}
.left img{
    height: 3.5em;
    width: 3.5em;
    padding: 10px 20px; 
}
.search-container{
    position: absolute;
    top : 12px;
    left: 90px;
    height: 45px;
    background-color: rgb(242, 244, 246);
    border-radius: 999px;
    padding: 1px 50px 5px 0px;
    display: flex;
    align-items: center;
    width: fit-content;
    font-family: Arial, sans-serif;
    }

.search-container input {
      border: none;
      outline: none;
      background: transparent;
      margin-left: 8px;
      font-size: 16px;
      color: #333;
    }

.search-container .icon {
      font-size: 16px;
      color: #606770;
    }
.home_icon{
        position: absolute;
        top: 10px;
        left: 27em;
        display: flex;
        height: 40px;
        width: 44em;
        justify-content: space-between;
    }
.top_icon img{
        height: 2em;
        width: 2em;
        padding: 10px 20px; 
    }
.right_icon img{
      height: 2em;
      width: 2em;
    
}
.right_main{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
    right: 60px;;
}
.right_icon button{
    height: 3.5em;
    width: 3.5em;
    border: 2px solid rgba(148, 148, 148,0.1);
    border-radius: 110px;
    margin: 4px;
    cursor: pointer;
}
#logo_image{
    background-image: url(kashif.jpg);
    background-size: cover;
}
.container_main{
    padding: 20px ;
    background-color: white;
    position: absolute;
    top: 5.5em;
    right: 30.5em;
    display: flex;
    height: 120px;
    width: 38em;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(6, 0, 0, 0.16);
}
#top_search img{
    height: 50px;
    border-radius: 50px;
}
#top_search input{
    background-color: rgb(230, 243, 255);
    position: absolute;
    top: 1em;
    left: 4em;
    height: 2.4em;
    width: 27em;
    border-radius: 50px;
    border: 0px;
    font-size: 20px;
    cursor: pointer;
    
}
.divider {
    position: absolute;
    top: 5.2em;
    height: 1px;
    background-color: #e4e6eb;
    margin: 10px auto;
    width: 93%;
  }
.live img{
    height: 1.8em;
    position: absolute;
    top: 8px;
    left: 30px;
}
.photo img{
    height: 1.5em;
    position: absolute;
    top: 8px;
    left: 30px;
}
.mood img{
    height: 1.8em;
    position: absolute;
    top: 8px;
    left: 20px;
}

.buttom_icon{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3em;
    width: 38.3em;
    position: absolute;
    top: 6em;
}
.buttom_icon button{
    background-color: white;
    position: relative;
    top: 5px;
    height: 2em;
    width: 10em;
    border-radius: 15px;
    border: 0px;
    cursor: pointer;
    font-size: 20px;
}
.buttom_icon button span{
    position: absolute;
    left: 3.3em;
    top: 15px;
}
.mood button span{
    position: absolute;
    left: 2.8em;
    top: 15px;
}