body{
   background-color: aliceblue;
   font-family: Arial, sans-serif;
   
}
.navigation{
    background-color: white;
    position:fixed;
    top: 0px;
    left: 0px;
    height: 4.5em;
    width: 100em;
    box-shadow: 2px 2px 2px 2px rgba(6, 0, 0, 0.16);
    z-index: 10;
}
.left img{
    height: 3.5em;
    width: 3.5em;
    padding: 10px 20px; 
}
.search-container{
    position: absolute;
    top : 12px;
    left: 90px;
    height: 45px;
    background-color: rgb(242, 244, 246);
    border-radius: 999px;
    padding: 1px 50px 5px 0px;
    display: flex;
    align-items: center;
    width: fit-content;
    font-family: Arial, sans-serif;
    
    }

.search-container input {
      border: none;
      outline: none;
      background: transparent;
      margin-left: 8px;
      font-size: 16px;
      color: #333;
    }

.search-container .icon {
      font-size: 16px;
      color: #606770;
    }
.home_icon{
        position: absolute;
        top: 10px;
        left: 27.5em;
        display: flex;
        height: 40px;
        width: 43em;
        justify-content: space-between;
    }
.top_icon img{
        height: 2em;
        width: 2em;
        padding: 10px 20px; 
    }
.right_icon img{
      height: 2em;
      width: 2em;
    
}
.right_main{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
    right: 60px;;
}
.right_icon button{
    height: 3.5em;
    width: 3.5em;
    border: 2px solid rgba(148, 148, 148,0.1);
    border-radius: 110px;
    margin: 4px;
    cursor: pointer;
}
#logo_image{
    background-image: url(kashif.jpg);
    background-size: cover;
}
.container_main{
    padding: 20px ;
    background-color: white;
    position: absolute;
    top: 5.5em;
    right: 29.9em;
    display: flex;
    height: 120px;
    width: 38em;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(6, 0, 0, 0.16);
    align-items: ce;
}
#top_search img{
    height: 50px;
    border-radius: 50px;
}
#top_search input{
    background-color: rgb(230, 243, 255);
    position: absolute;
    top: 1em;
    left: 4em;
    height: 2.4em;
    width: 27em;
    border-radius: 50px;
    border: 0px;
    font-size: 20px;
    cursor: pointer;
    
}
.divider {
    position: absolute;
    top: 5.2em;
    height: 1px;
    background-color: #e4e6eb;
    margin: 10px auto;
    width: 93%;
  }
.live img{
    height: 1.8em;
    position: absolute;
    top: 8px;
    left: 30px;
}
.photo img{
    height: 1.5em;
    position: absolute;
    top: 8px;
    left: 30px;
}
.mood img{
    height: 1.8em;
    position: absolute;
    top: 8px;
    left: 20px;
}

.buttom_icon{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3em;
    width: 38.3em;
    position: absolute;
    top: 6em;
}
.buttom_icon button{
    background-color: white;
    position: relative;
    top: 5px;
    height: 2em;
    width: 10em;
    border-radius: 15px;
    border: 0px;
    cursor: pointer;
    font-size: 20px;
}
.buttom_icon button span{
    position: absolute;
    left: 3.3em;
    top: 15px;
}
.mood button span{
    position: absolute;
    left: 2.8em;
    top: 15px;
}


.first_box{
    box-shadow: 2px 2px 2px 2px rgba(6, 0, 0, 0.16);
    position: absolute;
}

.first_box #top_picture{
    background-image: url(kashif.jpg);
    background-size: cover;
    position: absolute;
    top: 16.3em;
    left: 28em;
    height: 12em;
    width: 8.8em;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(6, 0, 0, 0.16);
}
.first_box #white{
    position: absolute;
    top: 28.4em;
    left: 28em;
    height: 5em;
    width: 8.8em;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(6, 0, 0, 0.16);
    
    
}
.first_box #circle{
    position: absolute;
    top: 26em;
    left: 30.8em;
    background-color:  white;
    border-radius: 50px;
    height: 3.5em;
    width: 3.5em;
}
.first_box #fit{
    background-image: url(circle_14026776.png);
    background-size: cover;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 50px;
    height: 2.8em;
    width: 2.8em;

}
.first_box #text{
    position: absolute;
    top: 2.3em;
    left: 1.2em;
    color: black;
    font-size: 20px;
}
/* SECOND BOX */
.main_box .secondBox{
    background-color: rgb(184, 176, 176);
    position: absolute;
    top: 16.9em;
    left: 37.9em;
    width: 8.8em;
    height: 17.1em;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(6, 0, 0, 0.16);
    background-image: url(pexels-eberhardgross-1366913.jpg);
    background-size: cover;
}
.secondBox #text{
    position: absolute;
    top: 15em;
    left: 2em;
    font-weight:bolder;
    color: white;
}
.secondBox #logo{
    background-color: #046ef8;
    position: absolute;
    top: 1em;
    left: 1em;
    height: 3em;
    width: 3em;
    border-radius: 50px;
}
.secondBox #Logo{
    background-color: black;
    position: absolute;
    top: 4px;
    left: 4px;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50px;
    background-image: url(first_logo.jpg);
    background-size: cover;

}
/* THIED BOX */
.main_box .thirdBox{
    background-color: rgb(184, 176, 176);
    position: absolute;
    top: 16.9em;
    left: 47.4em;
    width: 8.8em;
    height: 17.1em;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(6, 0, 0, 0.16);
    background-image: url(pexels-eberhardgross-1366919.jpg);
    background-size: cover;
}
.thirdBox #text{
    position: absolute;
    top: 15em;
    left: 2em;
    font-weight:bolder;
    color: white;
}
.thirdBox #logo{
    background-color: #046ef8;
    position: absolute;
    top: 1em;
    left: 1em;
    height: 3em;
    width: 3em;
    border-radius: 50px;
}
.thirdBox #Logo{
    background-color: black;
    position: absolute;
    top: 4px;
    left: 4px;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50px;
    background-image: url(second_logo.jpg);
    background-size: cover;

}
/* FOURTH BOX */
.main_box .fourthBox{
    background-color: rgb(184, 176, 176);
    position: absolute;
    top: 16.9em;
    right: 33.2em;
    width: 8.8em;
    height: 17.1em;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(6, 0, 0, 0.16);
    background-image: url(pexels-todd-trapani-488382-1535162.jpg);
    background-size: cover;
}
.fourthBox #text{
    position: absolute;
    top: 15em;
    left: 2em;
    font-weight:bolder;
    color: white;
}
.fourthBox #logo{
    background-color: #046ef8;
    position: absolute;
    top: 1em;
    left: 1em;
    height: 3em;
    width: 3em;
    border-radius: 50px;
}
.fourthBox #Logo{
    background-color: black;
    position: absolute;
    top: 4px;
    left: 4px;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50px;
    background-image: url(fourth_logo.jpg);
    background-size: cover;

} 
/* FIFTH BOX */
.main_box .fifthBox{
    background-color: rgb(184, 176, 176);
    position: absolute;
    top: 16.9em;
    right: 23.7em;
    width: 8.8em;
    height: 17.1em;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(6, 0, 0, 0.16);
    background-image: url(third_logo.jpg);
    background-size: cover;
}
.fifthBox #text{
    position: absolute;
    top: 15em;
    left: 2em;
    font-weight:bolder;
    color: white;
}
.fifthBox #logo{
    background-color: #046ef8;
    position: absolute;
    top: 1em;
    left: 1em;
    height: 3em;
    width: 3em;
    border-radius: 50px;
}
.fifthBox #Logo{
    background-color: black;
    position: absolute;
    top: 4px;
    left: 4px;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50px;
    background-image: url(fifth_logo.jpg);
    background-size: cover;

}
.main_picture{
    background-color: white;
    position: relative;
    top: 35em;
    left: 28em ;
    height: 55em;
    width: 41em; 
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(6, 0, 0, 0.16);
}
.main_picture #topLogo{
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    height: 3em;
    width: 3em;
    border-radius: 50px;
    cursor: pointer;
    background-image: url(pexels-ollivves-1078983.jpg);
    background-size: cover;

}
.main_picture a{
    position: absolute;
    top: 1.6em;
    left: 4.5em;
    color: black;
    text-decoration: none;
    font-weight:bold;
    font-size: large;
    font-family:Arial, Helvetica, sans-serif;
}
.main_picture #time{
    position: absolute;
    top: 3.2em;
    left: 5em;
    font-weight: lighter;
    font-size: 17px;
}
.main_picture img{
    position: absolute;
    top: 3.5em;
    left: 8.2em;
    height: 1em;
    width: 1em;
}
.main_picture #cross{
    position: absolute;
    top: 1.5em; 
    right: 1.5em;
    height: 3.5em;
    width: 3.5em;
    border-radius: 50px;
    cursor: pointer;
    border: 0px;
    background-color: white;
    background-image: url(cross.png);
    background-size: cover;
}
#cross:hover{
    background-color: rgb(226, 227, 227);
    transition: 0.7s;
}
.main_picture #dot{
    position: absolute;
    top: 1.5em; 
    right: 6em;
    height: 3.5em;
    width: 3.5em;
    border-radius: 50px;
    cursor: pointer;
    border: 0px;
    background-color: white;
    background-image: url(more.png);
    background-size: cover;
}
#dot:hover{
    background-color: rgb(226, 227, 227);
    transition: 0.7s;
}
.main_picture #large_picture{
    background-color: #606770;
    position: absolute;
    top: 7em;
    height: 42em;
    width: 41em;
    background-image: url(pexels-eberhardgross-1366919.jpg);
    background-size: cover;
}
.main_picture #color_like{
    position: absolute;
    bottom:4em; 
    left: 2.5em;
    height: 2em;
    width: 2em;
    border-radius: 50px;
    cursor: pointer;
    border: 0px;
    background-image: url(like_c.png);
    background-size: cover;

}
.main_picture #color_thumbs{
    position: absolute;
    bottom:4em; 
    left: 0.8em;
    height: 2.3em;
    width: 2.3em;
    border-radius: 50px;
    cursor: pointer;
    border: 0px;
    background-image: url(thumbs-up.png);
    background-size: cover;

}
.main_picture #link{
    position: absolute;
    top: 44.7em; 
    left: 4em;
    height: 2.2em;
    width: 2.2em;
    cursor: pointer;
    font-weight: lighter;

}
.main_picture #right_shareT{
    position: absolute;
    bottom:4em; 
    right: 0.8em;
    height: 2.2em;
    width: 2.2em;
    border-radius: 50px;
    cursor: pointer;
    border: 0px;
    background-color: white;
    background-image: url(forward.png);
    background-size: cover;
}
.main_picture #link_share{
    position: absolute;
    top: 44.7em; 
    left:32em;
    height: 2.2em;
    width: 2.2em;
    cursor: pointer;
    font-weight: lighter;

}
.main_picture #right_comment{
    position: absolute;
    bottom:4em; 
    right: 6.2em;
    height: 2.3em;
    width: 2.3em;
    border-radius: 2px;
    cursor: pointer;
    border: 0px;
    background-color: white;
    background-image: url(comment.png);
    background-size: cover;
}
.main_picture #link_comment{
    position: absolute;
    top: 44.7em; 
    left:28.7em;
    height: 2.2em;
    width: 2.2em;
    cursor: pointer;
    font-weight: lighter;

}
.divider_next {
    position: absolute;
    top: 51.5em;
    left: 3.5%;
    height: 1px;
    background-color: #e4e6eb;
    margin: 10px auto;
    width: 93%;
  }.main_picture #left_like{
    position: absolute;
    bottom: 0.1em;
    left: 1.2em;
    height: 2.1em;
    width: 10.5em;
    font-size: 15px;
    border-radius: 10px;
    border: 0px;
    font-weight: lighter;
    cursor: pointer;
    background-color: white;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main_picture #centre_comment{
    position: absolute;
    bottom: 0.1em;
    left: 11.83em;
    height: 2.1em;
    width: 10.5em;
    font-size: 15px;
    border-radius: 10px;
    border: 0px;
    font-weight: lighter;
    cursor: pointer;
    background-color: white;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main_picture #right_share{
    position: absolute;
    bottom: 0.1em;
    right: 1.2em;
    height: 2.1em;
    width: 10.5em;
    font-size: 15px;
    border-radius: 10px;
    border: 0px;
    font-weight: lighter;
    cursor: pointer;
    background-color: white;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main_picture #left_like img{
    position: absolute;
    top: 8px;
    left: 3em;
    height: 23px;
    width: 23px;
}
.main_picture #centre_comment img{
    position: absolute;
    top: 8px;
    left: 1.8em;
    height: 30px;
    width: 30px;
}
.main_picture #right_share img{
    position: absolute;
    top: 8px;
    left: 2.8em;
    height: 25px;
    width: 25px;
}
.main_picture #left_like:hover{
    background-color: rgb(235, 235, 235);
    transition: 0.7s;
}
.main_picture #centre_comment:hover{
    background-color: rgb(235, 235, 235);
    transition: 0.7s;
}
.main_picture #right_share:hover{
    background-color: rgb(235, 235, 235);
    transition: 0.7s;
}
.right_div{
    position: absolute;
    right: 0px;
    background-color: aliceblue;
    height: 92em ;
    width: 29.2em;
    z-index: 1;
}
.left_sidebar{
    position: fixed;
    top: 5rem;
    display: grid;
    padding: 2px;
    height: 35em;
    width: 20em;
    background-color: aliceblue;
    row-gap: .1rem;
    
}

.item{
  background-color: green;
  border: #8a888e;
  border-radius: 10px;
  display:flex ;
  justify-content: center;
    align-items: center;  
}
.item:hover{
    cursor: pointer;
    background-color: rgb(235, 235, 235);
    transition: 0.7s;
}


.sidebar {
    position: fixed;
    top: 4em;
    width: 340px;
    height: 32em;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 20px;
    margin: 0.5em auto; 
    
  }
  
  .menu {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    overflow-y: auto;
  }
  
  .menu-item,.profile {
    height: 50px;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.2s;
  }
  .profile:hover{
    background-color: #e4e6eb;
    transition: 0.2s;
  }
  .menu-item:hover {
    background-color: #e4e6eb;
  }
  
  .menu-item img {
    border-radius: 50px;
    width: 40px;
    height: 40px;
  }
  .divider3 {
    position: relative;
    top: 0.1em;
    height: 1px;
    background-color: #b8b8b8;
    width: 16em;
  }
  .your_shortcut{
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #5f6368; 
  margin: 2px 2px 2px 15px;
  }
  .menu-item-link{
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 17px;
  color: #65676b;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  cursor: pointer;
  }
  .menu-item-link a{
  cursor: pointer;
  text-decoration: none;
  color: #65676b;
  transition: text-decoration 0.2s;
  }
  .menu-item-link a:hover{
    text-decoration: underline;
  }
 

